// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
@import "bower_components/slick-carousel/slick/slick-theme.scss";
@import "bower_components/bootstrap/scss/bootstrap";

@import "components/button";
@import "utils/function";
@import "utils/mixin";
@import "utils/variables";
@import "base/typography";
@import "themes/theme.scss";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//TYPOGRAPHY

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
}

/* .menu-bar {
  .row {
    background: $topbar-bg;
    padding: 15px ;
  }

  .logo {
    filter: invert(100%);
    object-fit: cover;
    width: 30%;
    height: 25%;
  }

  @include media-breakpoint-up(md){
    .logo {
      object-fit: initial;
      filter: invert(0);
      width: initial;
      height: initial;
    }
  }
} */
/* .search-form {
  .form-control {
    letter-spacing: inherit;

    @include media-breakpoint-up(md){
      width: 250px;
    }
  }

  button[type="submit"] {
    text-transform: uppercase;
  }
} */

/* .navigation {
  ul.active {
    padding: 0;
  }

  li {
    list-style-type: none;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-right: 20px;
    }
  }
} */

.social {
  font-size: 14px;

  span {
    background: #787878;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: .3s all;
    margin-right: 5px;

    &:hover {
      background: #db4a39;
      transition: .3s all;
    }
  }

  a.social__link {
    line-height: 35px;
    display: block;
    color: $white;
  }
}



/* .main-menu {
  a.nav-item {
    font-size: 14px;
    text-transform: uppercase;
  }
} */

/* .top-bar {
  color: #9f9f9f;
  .row {
    background-color: #2e2e2e;
    padding: 12px 0;
  }

  a {
    color: inherit;
  }
} */

/* .top-links {
  font-size: 12px;
  padding-top: 10px;

  a {
    border-right: 1px solid #9f9f9f;
    display: inline-block;
    padding: 0 10px;


    &:last-child {
      border-right: none;
    }

    &:first-child {
      padding: 0;
      padding-right: 10px;
    }
  }
} */

.top-bar {
  .row {
    background: $topbar-bg;
  }
}

.main-menu {
  padding: 10px 0 ;

  .main-menu__logo img{
    height: 40px;
    filter: invert(100%);
  }

  .main-menu__btn {
    color: $mobile-btn-color;
    font-size: 16px;
  }

  .search-form {
    padding: 10px 0;
    // width: 100vw;
  }

  .main-menu__btn {
    float: right;
    padding-top: 8px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid lighten($topbar-bg, 5%);
  }

  .top-links-item,
  .nav-item {
    text-transform: uppercase;
    padding: 10px ;
    display: block;
    transition: .3s all;

    &:hover {
      background-color: lighten($topbar-bg, 10%);
      color: $white;
      transform: translateX(5px);
      transition: .3s all;

      &:before {
        content : "»";
        padding-right: 5px;
      }
    }
  }

  .social {
    margin-top: 10px;
    padding: 10px 0;
  }

  .main-menu__nav {
    background-color: $topbar-bg;
    display: none;
  }

}

.slider-content {
  margin: 100px 0  30px 0;

  .slider-content__title,
  .slider-content__desc {
    margin-bottom: 20px;
  }
}

.intro {
  padding: 40px 0;
}

.intro-item {
  margin: 20px 0 40px;
  text-align: center;

  .intro-item__title {
    font-size: 16px;
    color: $primary;
  }
}

.quick-links {
   ul {
    padding: 0;
  }

   li {
    list-style: none;
    border-bottom: 1px solid #232323;
    transition: .3s all;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: lighten($footer-bg, 5%);
      transition: .3s all;

      a.quick-links__item {
        cursor: pointer;
      }
    }
  }

  a.quick-links__item {
    padding-left: 10px;
    line-height: 24px;
    display: block;

    &::before {
    content: "»";
      padding-right: 5px;
    }
  }
}

.slider-content {
  .slider-content__title {
    font-size: 36px;
  }

  .slider-contetn__desc {
    font-size: 16px;
  }
}

.footer {
  color: #666;
  .row {
    background-color: $footer-bg;
    padding: 20px 0;

    @include media-breakpoint-up(md){
      padding: 40px 0;
    }
  }
}

.contact-form {
  font-size: 13px;

  input[type="submit"] {
    letter-spacing: 2px;
  }
}

.lastest-item {
  margin-bottom: 20px;
  .lastest-item__title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .lastest-item__date {
    padding-bottom: 8px;
  }

  .lastest-item__user,
  .lastest-item__date {
    font-size: 10px;
  }

  .lastest-item__desc {
    font-size: 12px;
  }
}

.footer-title {
  font-size: 12px;
  text-transform: uppercase;
  color: $white;

  margin-bottom: 15px;
}


.readmore {
  text-transform: capitalize;
  float: none;
  &::after {
    content: "»";
    padding-left: 5px;
  }

  @include media-breakpoint-up(md){
    float: right;
  }
}
.about-us,
.quick-links,
.lastest,
.contact-form {
  margin-bottom: 40px;
}

.readmore.btn {
  text-transform: uppercase;
  font-size: 16px;
  float: none;
}

