// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
@import "bower_components/slick-carousel/slick/slick-theme.scss";
@import "bower_components/bootstrap/scss/bootstrap";

@import "components/button";
@import "utils/function";
@import "utils/mixin";
@import "utils/variables";
@import "base/typography";
@import "themes/theme.scss";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//TYPOGRAPHY

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
}

.main-logo {
  margin: 20px 0;

  button[type="submit"] {
    text-transform: uppercase;
  }

  @include media-breakpoint-up(lg){
    margin: 40px 0 ;

    .search-form {
      margin-top: 20px;
    }

    input[type="text"] {
      width: 240px;
    }
  }
}

.social {
  font-size: 14px;

  span {
    background: #787878;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: .3s all;
    margin-right: 5px;

    &:hover {
      background: #db4a39;
      transition: .3s all;
    }
  }

  &__link {
    line-height: 35px;
    display: block;
    color: $white;
  }
}





.main-links,
.top-links {
  a {
    text-transform: uppercase;
    padding: 10px ;
    display: block;
    transition: .3s all;
  }
}

.top-links {
  @include media-breakpoint-up(md){
    margin-top: 18px;
    li {
      display: inline-block;
      border-bottom: none !important ;

      &:last-child a {
        border-right: none;

      }
    }

    a {
      color: $topbar-color;
      padding: 0 5px;
      text-transform: capitalize;
      border-right: 1px solid $topbar-color;
    }
  }
}

.top-bar {
  .row {
    background: $topbar-bg;

    @include media-breakpoint-only(md){
      background: none !important;
    }
  }

}

.main-menu {
  padding: 10px 0 ;

  &__logo img{
    height: 40px;
    filter: invert(100%);
  }

  &__btn {
    color: $mobile-btn-color;
    font-size: 16px;
    float: right;
    padding-top: 8px;
  }


  &__nav {
    background-color: $topbar-bg;
    display: none;
  }

  .search-form {
    padding: 10px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid lighten($topbar-bg, 5%);
  }

  .social {
    margin-top: 10px;
    padding: 10px 0;
  }

  input[type="text"] {
    width: 240px;
  }

  @include media-breakpoint-up(md){
    padding: 0;

    .social {
      margin: 0 !important;
    }
  }
}

.main-links {
  margin: 0;
  padding: 0;

  &__indicator-container  {
    display: none;
  }



  @include media-breakpoint-up(md){
    margin-top: 20px;

    .is-active {
      border-bottom: 4px solid $primary;
    }

    li {

      display: inline-block;
      border-bottom: 4px solid $border-color-gray;
      margin-right: 20px;

      &:hover {
        border-bottom: 4px solid $primary;

      }
    }

    .nav-item {
      font-size: 14px;
      color: $topbar-bg;
      padding: 0;
      margin: 20px 0;
    }
  }

  @include media-breakpoint-up(xl){
    .main-links__indicator-container  {
      display: block;
      height: 4px;
      background-color: $border-color-gray;
      position: absolute;
      left: 20px;
      right: 0;
      z-index: -1;
      transform: translateY(-4px)
    }
  }
}

.slider {
  padding: 10px 20px;
  background-color: $border-color-gray;
}

.slider-content {
  margin: 30px 0  30px 0;

  &__title,
  &__desc {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg){
    margin: 100px 0  30px 0;

  }
}

.intro {
  padding: 40px 0;
}

.intro-item {
  margin: 20px 0 40px;
  text-align: center;

  &__title {
    font-size: 16px;
    color: $primary;
  }
}

.quick-links {
   ul {
    padding: 0;
  }

   li {
    list-style: none;
    border-bottom: 1px solid #232323;
    transition: .3s all;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: lighten($footer-bg, 5%);
      transition: .3s all;

      &__item {
        cursor: pointer;
      }
    }
  }

  &__item {
    padding-left: 10px;
    line-height: 24px;
    display: block;

    &::before {
    content: "»";
      padding-right: 5px;
    }
  }
}

.slider-content {
  &__title {
    font-size: 36px;
  }

  &__desc {
    font-size: 16px;
  }
}

.shout {
  margin-top: 20px;
  background-color: $shout-bg;
  padding:  20px;
  border-left: 10px solid $primary;

  &-item__title {
    font-size: 36px;
  }

  &-item__desc {
    font-size: 16px;
  }

  .btn {
    text-transform: uppercase;
    font-size: 20px;
  }



  @include media-breakpoint-up(xl){
    margin-top: 40px;

    .btn {
      text-transform: uppercase;
      font-size: 26px;
      margin-top: 10px;
    }

  }
}

.footer {
  color: #666;
  .row {
    background-color: $footer-bg;
    padding: 20px 0;

    @include media-breakpoint-up(md){
      padding: 40px 0;
    }
  }
}

.contact-form {
  font-size: 13px;

  input[type="submit"] {
    letter-spacing: 2px;
  }
}

.lastest-item {
  margin-bottom: 20px;
  &__title {
    font-size: 14px;
    margin-bottom: 0;
  }

  &__date {
    padding-bottom: 8px;
  }

  &__user,
  &__date {
    font-size: 10px;
  }

  &__desc {
    font-size: 12px;
  }
}

.footer-title {
  font-size: 12px;
  text-transform: uppercase;
  color: $white;

  margin-bottom: 15px;
}


.readmore {
  text-transform: capitalize;
  float: none;
  &::after {
    content: "»";
    padding-left: 5px;
  }

  @include media-breakpoint-up(md){
    float: right;
  }
}
.about-us,
.quick-links,
.lastest,
.contact-form {
  margin-bottom: 40px;
}

.copyrights {
  padding: 20px;
  color: $copy-color;
  background: $copy-bg;
  margin-left: -15px;
  margin-right: -15px;

  .row {
    background: $copy-bg;

  }

}

.readmore.btn {
  text-transform: uppercase;
  font-size: 16px;
  float: none;
}

