$font-family-serif: Georgia, times, "Times New Roman", serif;
$font-family-base: $font-family-serif ;
$font-size-base: 12px;

$footer-bg : #1a1a1a;

$input-btn-padding-y:         .375rem ;
$input-btn-padding-x:         3.75rem ;
