$font-family-serif: Georgia, times, "Times New Roman", serif;
$font-family-base: $font-family-serif ;
$font-size-base: 12px;

$footer-bg : #1a1a1a;
$topbar-bg : #2e2e2e;
$topbar-color: #9f9f9f;
$border-color-gray :#f1f1f1;
$mobile-btn-color: $white;
$shout-bg: #e0e0e0;
$copy-bg: #222222;
$copy-color: #666666;
